<<<<<<< HEAD
=======
@import '~@angular/material/theming';
>>>>>>> 203407fc605741f942d01fa2afc5855fe978a973

.details-pane {
  padding-left: 2em;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
