<svg:g [attr.transform]="'translate(' + node.x + ',' + node.y + ')'"  *ngIf="label !='structure'" (click)="toggleMenu()">
  <svg:circle
    class="node {{node.type}}"
    [ngClass]="{clicked: nodeClicked}"
    cx="0"
    cy="0"
    [attr.fill] = "node.tempcolor ? node.tempcolor : node.color"
    [attr.stroke] = "node.tempcolor ? '#b0b0b0' : ''"
    [attr.r]="node.r">
  </svg:circle>
  <svg:text [attr.transform]="'translate(' + node.r / 2 + ',' + -node.r + ')'">{{displayName}}</svg:text>
</svg:g>

