
.fdg {
/*  margin-top: 10vh;
  margin-left: 10vw;*/
  width: 100vw;
  height: 80vh;
}

.info-panel {
  height: 50%;
  width: 20%;
  background-color: rgba(255, 255, 255, .6);
  border: #f1f1f1 1px solid;
  position: fixed;
  right: 7vw;
  top: 5vh;
}

.menu-drawer {
  width: 25vw;
}

.close-button {
  position: absolute;
  right: 69vw;
  top: 8px;
  background-color: white;
}

.open-button {
  position: absolute;
  top: 8px;
  background-color: white;
}

@media only screen and (max-width: 960px) {
  .menu-drawer {
    width: 50vw;
  }

  .info-panel {
    height: 50%;
    width: 30%;
    right: 7vw;
  }
}

@media only screen and (max-width: 768px) {
  .menu-drawer {
    width: 80vw;
  }

  .info-panel {
    height: 60%;
    width: 40%;
  }
}
