
.menu-div {
  padding: 1vw;
}

.full-width {
  width: 100%;
}

.hidden {
  display: none;
}

.switch-labels {
  display: inline-flex;
}

.close-button {
  padding-right: 10px;
}

.sub-graph-toggle {
  padding-left: 1vw;
  padding-bottom: .5vh;
  padding-top: .5vh;
}
