<div class = "menu-div">
<h3>hESC/hNSC NSAF SpC ratio:</h3>
  <range-slider min="-60"
                max="0"
                step = ".1"
                (change)="sliderChange($event, 'hESC_NSC_Fold_Change')"
                [value]="[-60, 0]"
                [thumbLabel]= true
                class="full-width"
                aria-label="Primary color range slider"></range-slider>
  <app-d3-color-legend></app-d3-color-legend>
  <br>


<h3>hESC/hNSC ln fold change:</h3>
  <range-slider min="0"
                max=".5"
                step = ".01"
                (change)="sliderChange($event, 'hESC_NSC_Ratio')"
                [value]="[0, 10]"
                [thumbLabel]= true
                class="full-width"
                aria-label="Primary color range slider"></range-slider>
  <br>

  <div class="switch-labels"><span class="mat-slide-toggle-label">Hide nodes</span>&nbsp;<mat-slide-toggle (change)="setFilterType($event)">Fade nodes</mat-slide-toggle></div>
  <br>
  <br>




  <mat-checkbox>Check me!</mat-checkbox>
<br>
<mat-checkbox>Check me!</mat-checkbox><br>
<mat-checkbox>Check me!</mat-checkbox><br>
<mat-checkbox>Check me!</mat-checkbox><br>
</div>




<mat-slider
  min="1"
  max="5"
  step="0.5"
  value="1.5"
  [thumbLabel]= true
  class="hidden"></mat-slider>
