
<div class = "header-row">
  <div class ="title"></div>
  <div class ="close-button" [dir]="'rtl'">
    <button mat-icon-button (click)="closeMenu()" class="close-button"><mat-icon>close</mat-icon></button>
  </div>
</div>
<div class = "menu-div">
    <h2>Expression networks</h2>
    <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header (click) = "setActiveGraph('nscs')">
        <mat-panel-title>
          <div *ngIf="activeGraph === 'nscs'; else unChecked">
            <mat-icon [color]="'accent'">radio_button_checked</mat-icon>
          </div>
          <ng-template #unChecked>
            <mat-icon >radio_button_unchecked</mat-icon>
          </ng-template>
          2.5x up in NSCs
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
      <h3>hESC/hNSC ln fold change:</h3>
      <range-slider min="-60"
                    max="0"
                    step = ".1"
                    (change)="sliderChange($event, 'hESC_NSC_Fold_Change')"
                    [value]="[-60, 0]"
                    [thumbLabel]= true
                    class="full-width"
                    aria-label="Primary color range slider"></range-slider>
      <app-d3-color-legend [range]="[-60, 0]" *ngIf="activeGraph === 'nscs'"></app-d3-color-legend>
        <mat-radio-group [formControl]="subGraphTypeCtrl">
          <br>
          Subgraphs of Interest:<br>
          <mat-radio-button value="SRC" class="sub-graph-toggle">SRC</mat-radio-button><br>
          <mat-radio-button value="DLG4" class="sub-graph-toggle">DLG4</mat-radio-button><br>
          <mat-radio-button value="SMAD2" class="sub-graph-toggle">SMAD2</mat-radio-button><br>
        </mat-radio-group>
      </ng-template>
    </mat-expansion-panel>
      <mat-expansion-panel>
      <mat-expansion-panel-header (click) = "setActiveGraph('escs')">
        <mat-panel-title>
          <div *ngIf="activeGraph === 'escs'; else unChecked">
            <mat-icon [color]="'accent'">radio_button_checked</mat-icon>
          </div>

          <ng-template #unChecked>
            <mat-icon>radio_button_unchecked</mat-icon>
          </ng-template>
          2.5x up in ESCs
        </mat-panel-title>
      </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
        <h3>hESC/hNSC ln fold change:</h3>
        <range-slider min="0"
                      max="100"
                      step = ".1"
                      (change)="sliderChange($event, 'hESC_NSC_Fold_Change')"
                      [value]="[0, 100]"
                      [thumbLabel]= true
                      class="full-width"
                      aria-label="Primary color range slider"></range-slider>
        <app-d3-color-legend [range]="[0, 100]" *ngIf="activeGraph === 'escs'"></app-d3-color-legend>
          <mat-radio-group [formControl]="subGraphTypeCtrl">
            <br>
            Subgraphs of Interest:<br>
            <mat-radio-button value="PI3K" class="sub-graph-toggle">PI3K</mat-radio-button><br>
            <mat-radio-button value="EGFR" class="sub-graph-toggle">EGFR</mat-radio-button><br>
          </mat-radio-group>
        </ng-template>
    </mat-expansion-panel>
    <h2>Phosphorylation networks</h2>
      <mat-expansion-panel [hideToggle]="true">
        <mat-expansion-panel-header (click) = "setActiveGraph('nsc-only')">
          <mat-panel-title>
            <div *ngIf="activeGraph === 'nsc-only'; else unChecked">
              <mat-icon [color]="'accent'">radio_button_checked</mat-icon>
            </div>
            <ng-template #unChecked>
              <mat-icon >radio_button_unchecked</mat-icon>
            </ng-template>
         Phosphorylated in NSC only
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>

        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header (click) = "setActiveGraph('esc-only')">
          <mat-panel-title>
            <div *ngIf="activeGraph === 'esc-only'; else unChecked">
              <mat-icon [color]="'accent'">radio_button_checked</mat-icon>
            </div>
            <ng-template #unChecked>
              <mat-icon >radio_button_unchecked</mat-icon>
            </ng-template>
            Phosphorylated in ESC only
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-radio-group [formControl]="subGraphTypeCtrl">
            <br>
            Subgraphs of Interest:<br>
           <mat-radio-button value="IKBKG" class="sub-graph-toggle">IKBKG</mat-radio-button><br>
           <mat-radio-button value="JUN" class="sub-graph-toggle">JUN</mat-radio-button><br>
          </mat-radio-group>
        </ng-template>
      </mat-expansion-panel>
  </mat-accordion>
  <!-- <div *ngIf="graphTypeCtrl.value === 'nscs'">
   <h3>hESC/hNSC ln fold change:</h3>
   <range-slider min="-60"
                 max="0"
                 step = ".1"
                 (change)="sliderChange($event, 'hESC_NSC_Fold_Change')"
                 [value]="[-60, 0]"
                 [thumbLabel]= true
                 class="full-width"
                 aria-label="Primary color range slider"></range-slider>
   <app-d3-color-legend [range]="[-60, 0]"></app-d3-color-legend>
   </div>
   <mat-radio-button value="escs">2.5x up in ESCs</mat-radio-button> &nbsp;&nbsp;
   <div *ngIf="graphTypeCtrl.value === 'escs'">
   <h3>hESC/hNSC ln fold change:</h3>
   <range-slider min="0"
                 max="100"
                 step = ".1"
                 (change)="sliderChange($event, 'hESC_NSC_Fold_Change')"
                 [value]="[0, 100]"
                 [thumbLabel]= true
                 class="full-width"
                 aria-label="Primary color range slider"></range-slider>
   <app-d3-color-legend [range]="[0, 100]"></app-d3-color-legend>
   </div>-->


<!--  <h3>hESC/hNSC ln fold change:</h3>
  <range-slider min="-60"
                max="0"
                step = ".1"
                (change)="sliderChange($event, 'hESC_NSC_Fold_Change')"
                [value]="[-60, 0]"
                [thumbLabel]= true
                class="full-width"
                aria-label="Primary color range slider"></range-slider>
  <app-d3-color-legend [range]="[-60, 0]"></app-d3-color-legend>
  <br>


  <h3>hESC/hNSC NSAF SpC ratio:</h3>
  <range-slider min="0"
                max=".5"
                step = ".01"
                (change)="sliderChange($event, 'hESC_NSC_Ratio')"
                [value]="[0, 10]"
                [thumbLabel]= true
                class="full-width"
                aria-label="Primary color range slider"></range-slider>
  <br>-->


  <h2>Options</h2>
  <div class="switch-labels"><span class="mat-slide-toggle-label">Hide nodes</span>&nbsp;<mat-slide-toggle (change)="setFilterType($event)">Fade nodes</mat-slide-toggle></div>
  <br>
  <br>
  <mat-checkbox (change)="noData($event)">Hide nodes without data</mat-checkbox>
<br>
</div>




<mat-slider
  min="1"
  max="5"
  step="0.5"
  value="1.5"
  [thumbLabel]= true
  class="hidden"></mat-slider>
