
<div class = "header-row">
  <div class ="title"></div>
  <div class ="close-button" [dir]="'rtl'">
    <button mat-icon-button (click)="closeMenu()" class="close-button"><mat-icon>close</mat-icon></button>
  </div>
</div>
<div class = "menu-div">

  <mat-radio-group [formControl]="graphTypeCtrl">
    <mat-radio-button value="nsc-only">Phosphoprotein NSC only</mat-radio-button> &nbsp;&nbsp; <br>
    <mat-radio-button value="nscs" [checked]="true">PGene Expression nscs 2.5xUp</mat-radio-button><br>
    <mat-radio-button value="esc-only">Phosphoprotein ESC only</mat-radio-button> &nbsp;&nbsp;<br>
    <mat-radio-button value="escs">Gene Expression escs 2.5xup</mat-radio-button> &nbsp;&nbsp;
  </mat-radio-group>

<h3>hESC/hNSC NSAF SpC ratio:</h3>
  <range-slider min="-60"
                max="60"
                step = ".1"
                (change)="sliderChange($event, 'hESC_NSC_Fold_Change')"
                [value]="[-60, 0]"
                [thumbLabel]= true
                class="full-width"
                aria-label="Primary color range slider"></range-slider>
  <app-d3-color-legend></app-d3-color-legend>
  <br>


<h3>hESC/hNSC ln fold change:</h3>
  <range-slider min="0"
                max=".5"
                step = ".01"
                (change)="sliderChange($event, 'hESC_NSC_Ratio')"
                [value]="[0, 10]"
                [thumbLabel]= true
                class="full-width"
                aria-label="Primary color range slider"></range-slider>
  <br>

  <div class="switch-labels"><span class="mat-slide-toggle-label">Hide nodes</span>&nbsp;<mat-slide-toggle (change)="setFilterType($event)">Fade nodes</mat-slide-toggle></div>
  <br>
  <br>




  <mat-checkbox>Check me!</mat-checkbox>
<br>
<mat-checkbox>Check me!</mat-checkbox><br>
<mat-checkbox>Check me!</mat-checkbox><br>
<mat-checkbox>Check me!</mat-checkbox><br>
</div>




<mat-slider
  min="1"
  max="5"
  step="0.5"
  value="1.5"
  [thumbLabel]= true
  class="hidden"></mat-slider>
