
.d3-chart {
  margin: 0 auto;
  height: 60vh;
  width: 60vw;
}

.line-tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 16px sans-serif;
  background-color: rgba(255,255,255,.9);
  border: 1px solid #f1f1f1;
  pointer-events: none;
  z-index: 666;
}

.hovered{
  fill: purple !important;

}


.axis-label {
  font-size: 14px;
  font-weight: bold;
  text-anchor: middle;
}

